.todo-item {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  border: solid 2px white;
  box-sizing: border-box;
}

.example-enter {
  opacity: 0.01;
  width: 0px;
}

.example-enter.example-enter-active {
  opacity: 1;
  width: 100px;
  transition: 700ms;
}

.example-leave {
  opacity: 1;
  width: 100px;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  width: 0px;
  transition: 700ms;
}
